@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
    width: 40%;
    height: max-content;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin-top: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
    /* background: linear-gradient(to buttom right, #4d7ff 0%, #1a56ff 100%); */
    /* background: #d81f26; */
    background: black;
    border-radius: 3px;
}

.listKpiche {
    height: 190vh;
    padding-left: 15px;
}

.LogIn {
    width: 200%;
    position: relative;
    z-index: 20;
}

.formKeUper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleKaHead {
    height: 101vh;
}

.iFrame {
    height: 65vh;
    width: 100%;
}


@media (min-width:640px) {
    .listKpiche {
        height: 300vh;
    }

    .box {
        width: 23%;
    }

    .LogIn {
        width: auto;
    }
}